.header {
    position: absolute;
    top: 0px;
    right: 0;
    height: 70px;
    width: 83.33333333%;
    padding: 15px 0;
    margin: 0;
    text-align: center;
    background-color: #F8F9FA;
    border-bottom: 2px solid #DFE0E1;
}

.header div.row {
    margin: 0;
}

.header a {
    color: #2A3547FF;
}

.header a:hover {
    color: #0A58CAFF;
}

.header div.logo {
    font-family: "American Typewriter";
    font-size: 36px;
    font-weight: bold;
    text-align: left;
}

.header div.userinfo {
    text-align: right;
}


