body {
  padding: 0;
  margin: 0;
 /* background: #dfe7dd; */
  background-color: #EDF3FC !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  height: 30px;
  background: #198754;
}

.content {
  width: 900px;
  margin: 100px auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#page-content-wrapper {
  padding: 15px;
  width: 83.33333333%;
  background-color: #EDF3FC !important;
  margin: 70px 0 0;
}

.object {
  color: #FFCA2D;
}

.react-datepicker__input-container input {
  width: 100%;
}

input {
  --bs-secondary-color: #21252952;
}